/viikko2/Verkkokauppa1/.nb-gradle/
.gradle
bin
build
/viikko3/nhlreader/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/WebLogin/.nb-gradle/
salasanat.txt

/viikko_4/MockitoDemo/.nb-gradle/
/viikko4/MaksukorttiMockito/.nb-gradle/
/viikko4/IntJoukkoSovellus/.nb-gradle/
/viikko4/Tennis/.nb-gradle/
/viikko1/tehtavat14-16/NhlStatistics1/.nb-gradle/